.buttonHex:hover{
    background-color: aqua;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
}
.buttonRgb:hover{
    background-color: orchid;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;

}
.ButtonRandomColor:hover{
    background-color: greenyellow;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;

}